@font-face {
  font-family: "OpenSans Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2"),
       url("../fonts/opensans.woff");
}

@font-face {
  font-family: "OpenSans Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2"),
       url("../fonts/opensansbold.woff");
}
