@define-mixin font $weight, $size, $height, $color: $default-font-color {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;

  @if $weight == 400 {
    font-family: "OpenSans Regular", "Arial", sans-serif;
  }

  @if $weight == 700 {
    font-family: "OpenSans Bold", "Arial", sans-serif;
  }

  color: $color;
}

@define-mixin container {
  width: 320px;
  margin: 0 auto;

  @media $tablet-width {
    width: 768px;
  }

  @media $desktop-width {
    width: 1200px;
  }
}
