.product-of-week {
  padding: 35px 0;

  .set-font(regular; 15px; 24px);
  color: #444444;

  background-color: #ffffff;
}

.product-of-week__title {
  .set-font(bold; 25px; 30px);
  color: #000000;

  &::after {
    content: "Товар недели";

    .set-font(bold; 17px; 16px);
    color: #63d1bb;
  }
}

.product-of-week__price {
  .set-font(bold; 17px; 24px);
}

.product-of-week__btn {
  .set-font(bold; 17px; 16px);
}
