.about {
  padding: 35px 30px 50px 30px;
}

.about__us {
  margin-bottom: 60px;
}

.about__list {
  list-style: none;
}

.about__title {
  @mixin font 700, 25px, 30px;
}

.about__item {
  @mixin font 700, 17px, 24px;
}

.about__text {
  @mixin font 400, 15px, 30px, #444444;
}
