.banner-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;

  &_page-title {
    margin-top: auto;
  }

  @media (--tablet-widths) {
    font-size: 0;
  }
}

.banner-list__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 9.375%;
    top: 50%;
    transform: translateY(-50%);
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: 65px 65px;
  }

  &:nth-of-type(1)::after {
    background-image: url("../img/icon-interior.svg");
  }

  &:nth-of-type(2)::after {
    background-image: url("../img/icon-toy.svg");
  }

  &:nth-of-type(odd) {
    background-color: #63d1bb;

    &:hover {
      background-color: #59d5bc;
    }
  }

  &:nth-of-type(2n) {
    background-color: #56c3b2;

    &:hover {
      background-color: #46c1ae;
    }
  }

  @media (--tablet-widths) {
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
  }
}

.banner-list__link {
  display: block;
  padding: 26px 9.375%;
  text-decoration: none;
  @mixin font 700, 19px, 24px, #ffffff;

  &:hover {
    padding-top: 21px;
    padding-bottom: 36px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (--tablet-widths) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (--desktop-widths) {
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 7.5%;
    padding-right: 7.5%;

    font-size: 20px;
    line-height: 30px;

    &:hover {
      padding-top: 24px;
      padding-bottom: 39px;
    }
  }
}

.banner-list__link span {
  display: block;
  width: 130px;
  text-align: left;
}
