.btn {
  @mixin font 700, 17px, 16px, #444444;

  display: block;
  padding-top: 17px;
  padding-bottom: 17px;
  border: 2px solid #444444;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $default-bg-color;

  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: #757575;
  }
}
