.contacts {
  @mixin container;

  padding-top: 35px;
  padding-bottom: 35px;

  @media (--tablet-widths) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (--desktop-widths) {
    position: relative;

    display: flex;

    padding-top: 244px;
    padding-left: 19%;
  }
}

.contacts__title {
  @mixin font 700, 18px, 30px;
  margin: 0;
  margin-bottom: 30px;

  @media (--tablet-widths) {
    position: relative;
    margin-bottom: 50px;

    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";
      position: absolute;
      right: 46px;
      top: 0;
      width: 4px;
      height: 81px;
      background-color: #000000;
    }

    &::after {
      content: "";
      position: absolute;
      right: 3px;
      top: 4px;
      border: 20px solid #62d1ba;
      border-left-width: 40px;
      border-right: none;
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
  }

  @media (--desktop-widths) {
    order: 1;
    width: 50%;

    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__link {
  @mixin font 400, 15px, 30px, #444444;
}

.contacts__table {
  @mixin font 400, 15px, 30px, #444444;
  margin-bottom: 35px;

  @media (--tablet-widths) {
    display: block;
    margin-bottom: 50px;
  }

  @media (--desktop-widths) {
    position: absolute;
    top: 250px;

    display: table;
    width: 25%;
  }
}

.contacts__table tbody {
  @media (--tablet-widths) {
    display: flex;
  }

  @media (--desktop-widths) {
    display: table-row-group;
  }
}

.contacts__parameter {
  @media (--tablet-widths) {
    width: 50%;
  }

  @media (--desktop-widths) {
    width: 100%;
  }
}

.contacts__key {
  width: 30%;

  vertical-align: top;

  @media (--desktop-widths) {
    width: 50%;
    padding-bottom: 30px;
  }
}

.contacts__value {
  width: 70%;
  overflow: hidden;

  @media (--desktop-widths) {
    width: 50%;
    padding-bottom: 30px;
  }
}

.contacts__btn {
  margin: 0 auto;

  @media (--tablet-widths) {
    width: 230px;
  }

  @media (--desktop-widths) {
    position: absolute;
    top: 480px;
  }
}

.contacts__link {
  &_email {
    text-decoration: none;

    &::after {
      content: "";

      display: block;
      height: 1px;

      background-color: #62d1ba;
    }

    &:hover {
      color: #46c1ae;

      &::after {
        background-color: #46c1ae;
      }
    }

    &:active {
      opacity: 0.3;

      &::after {
        opacity: 0.3;

        transform: translateX(-25px);
      }
    }
  }
}
