.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  height: 80px;
  padding: 31px 30px;

  border-top: 1px solid #e5e5e5;

  @media (--tablet-widths) {
    flex-basis: 185px;
    padding-right: 0;

    border-top: none;
  }
}

.copyright__text {
  margin-right: 30px;

  @mixin font 700, 19px, 18px;
}
