.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 25px;
  padding-bottom: 55px;

  @media (--tablet-widths) {
    padding-top: 75px;
  }

  @media (--desktop-widths) {
    padding-top: 125px;
  }
}

.form__fieldset {
  box-sizing: border-box;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 35px;
  margin-left: 9.375%;
  margin-right: 9.375%;
  border-color: #63d1bb;
  border-left: none;
  border-right: none;
  border-bottom: none;

  font-size: 0;

  &:last-of-type {
    padding-bottom: 15px;

    @media (--tablet-widths) {
      padding-bottom: 50px;
    }

    @media (--desktop-widths) {
      padding-bottom: 90px;
    }
  }

  &_phone {
    padding-top: 5px;
  }

  &_email {
    padding-top: 5px;
  }

  @media (--tablet-widths) {
    display: block;
    border: none;
    margin: 0;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 60px;
    padding-bottom: 60px;

    font-size: 0;

    &_type,
    &_name,
    &_additionally {
      background-color: $default-bg-color;
    }

    &_color,
    &_phone,
    &_email {
      background-color: #f1f1f1;
    }

    &_phone {
      padding-bottom: 10px;
    }

    &_email {
      padding-top: 10px;
    }
  }

  @media (--desktop-widths) {
    padding-left: 18.75%;
    padding-right: 18.75%;
  }
}

.form__legend {
  @mixin font 700, 17px, 16px, #63d1bb;
  padding-right: 25px;
  text-transform: uppercase;

  @media (--tablet-widths) {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding-top: 12px;
  }

  @media (--desktop-widths) {
    width: 25%;
    margin-left: -12.5%;
    transform: translateX(-50%);
    text-align: center;
  }
}

.form__fields {
  @media (--tablet-widths) {
    display: inline-block;
    vertical-align: top;

    width: 75%;

    font-size: 0;
  }

  @media (--desktop-widths) {
    width: 100%;
    margin-left: -12.5%;
  }
}

.form__fields_type input,
.form__fieldset_color input {
  display: none;
}

.form__text {
  @mixin container;
  @mixin font 400, 13px, 24px, #444444;

  margin: 0;

  &_start {
    margin-bottom: 30px;

    @media (--tablet-widths) {
      margin-bottom: 0;
    }

    @media (--desktop-widths) {
      padding-left: 18.75%;
    }
  }

  &_finish {
    margin-bottom: 20px;

    @media (--tablet-widths) {
      order: 2;
      align-self: center;
      margin-bottom: 0;
    }

    @media (--desktop-widths) {
      padding-right: 18.75%;
    }
  }
}

.form__label {
  @mixin font 700, 17px, 18px;
  position: relative;

  display: block;
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:nth-of-type(5) {
    @media (--tablet-widths) {
      margin-bottom: 0;
    }
  }

  &:nth-of-type(4) {
    @media (--desktop-widths) {
      margin-bottom: 0;
    }
  }

  &_type {
    &::before {
      content: "";
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      margin-right: 20px;
      border-radius: 50%;
      border: 2px solid #444444;

      @media (--tablet-widths) {
        width: 50px;
        height: 50px;
      }
    }

    &:hover::before {
      border-color: #62d1ba;
    }

    &:active::before {
      border-color: #444444;
      opacity: 0.3;
    }

    &::after {
      content: "";
      display: none;
      position: absolute;
      left: 12px;
      top: 12px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #62d1ba;

      @media (--tablet-widths) {
        left: 15px;
        top: 15px;

        width: 20px;
        height: 20px;
      }
    }
  }

  &_color {
    &::before {
      content: "";
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      margin-right: 20px;
      border: 2px solid #444444;

      @media (--tablet-widths) {
        width: 50px;
        height: 50px;
      }
    }

    &:hover::before {
      border-color: #62d1ba;
    }

    &:active::before {
      border-color: rgba(68, 68, 68, 0.3);
    }

    &::after {
      content: "";
      display: none;

      background-image: url("http://placehold.it/16x16");
      background-repeat: no-repeat;
      background-position: center;
    }

    @media (--tablet-widths) {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      margin-bottom: 25px;
    }

    @media (--desktop-widths) {
      width: 33%;
    }
  }

  &_name {
    margin-bottom: 0;

    @media (--tablet-widths) {
      display: inline-block;
      vertical-align: top;
      padding-top: 10px;
    }
  }

  &_first-name {
    @media (--tablet-widths) {
      width: 14%;
    }

    @media (--desktop-widths) {
      width: 10%;
    }
  }

  &_last-name {
    @media (--tablet-widths) {
      width: 25%;
    }

    @media (--desktop-widths) {
      width: 17%;
    }
  }

  &_patronym {
    @media (--tablet-widths) {
      width: 25%;
    }

    @media (--desktop-widths) {
      width: 17%;
    }
  }

  &_phone {
    display: none;
  }

  @media (--tablet-widths) {
    margin-bottom: 20px;

    font-size: 19px;
    line-height: 18px;
  }
}

#accessory:checked ~ label[for="accessory"]::after,
#toy:checked ~ label[for="toy"]::after {
  display: block;
}

#white:checked ~ label[for="white"]::before,
#gray:checked ~ label[for="gray"]::before,
#tiffani:checked ~ label[for="tiffani"]::before,
#black:checked ~ label[for="black"]::before,
#pink:checked ~ label[for="pink"]::before,
#orange:checked ~ label[for="orange"]::before {
  background-image: url("http://placehold.it/16x16");
  background-repeat: no-repeat;
  background-position: center;
}

.form__input {
  @mixin font 400, 19px, 18px, #444444;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  border: none;
  border-bottom: 2px solid #000000;

  background-color: transparent;

  &:hover {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }

  &:invalid {
    border-color: #f0b1b1;
  }

  &_additionally {
    height: auto;
    max-width: 100%;
    min-width: 100%;
    border: 2px solid #000000;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &:focus {
    outline: none;
  }

  &_additionally {
    padding: 15px;
  }

  &_name {
    @media (--tablet-widths) {
      position: relative;
      top: -5px;

      display: inline-block;
      vertical-align: top;
    }
  }

  &_first-name {
    @media (--tablet-widths) {
      width: 86%;
    }

    @media (--desktop-widths) {
      width: 90%;
    }
  }

  &_last-name {
    @media (--tablet-widths) {
      width: 75%;
    }

    @media (--desktop-widths) {
      width: 83%;
    }
  }

  &_patronym {
    @media (--tablet-widths) {
      width: 75%;
    }

    @media (--desktop-widths) {
      width: 83%;
    }
  }

  &_phone {
    @media (--tablet-widths) {
      position: relative;
      top: -10px;
    }
  }

  &_email {
    @media (--tablet-widths) {
      position: relative;
      top: -10px;
    }
  }
}

.form__btn {
  @mixin container margin;

  &:focus {
    outline: none;
  }

  @media (--tablet-widths) {
    order: 1;
    align-self: center;

    margin-left: 6.5%;
  }

  @media (--desktop-widths) {
    margin-left: 18.75%;
  }
}

::-webkit-input-placeholder {
  opacity: 0.3;
}

::-moz-placeholder {
  opacity: 0.3;
}

:-moz-placeholder {
  opacity: 0.3;
}

:-ms-input-placeholder {
  opacity: 0.3;
}
