.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 25px;
  padding-bottom: 55px;
}

.form__fieldset {
  @mixin container margin;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  margin-bottom: 45px;
  border-color: #63d1bb;
  border-left: none;
  border-right: none;
  border-bottom: none;

  @media (--tablet-widths) {
    display: block;
    border: none;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;

    font-size: 0;

    &_type,
    &_name,
    &_additionally {
      background-color: $default-bg-color;
    }

    &_color,
    &_phone,
    &_email {
      background-color: #f1f1f1;
    }

    &_phone {
      padding-bottom: 10px;
    }

    &_email {
      padding-top: 10px;
    }
  }
}

.form__legend {
  @mixin font 700, 17px, 16px, #63d1bb;
  padding-right: 25px;
  margin-bottom: 25px;

  @media (--tablet-widths) {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }

  @media (--desktop-widths) {
    width: 15.907%;
    text-align: center;
  }
}

.form__fields {
  @media (--tablet-widths) {
    display: inline-block;
    vertical-align: top;

    width: 75%;
  }

  &_color {
    @media (--desktop-widths) {
      display: flex;
      flex-wrap: wrap;
      margin-left: 15.907%;
    }
  }
}

.form__text {
  @mixin container;
  @mixin font 400, 13px, 24px, #444444;

  margin: 0;

  &_start {
    margin-bottom: 30px;

    @media (--desktop-widths) {
      padding-left: 18.75%;
    }
  }

  &_finish {
    @media (--tablet-widths) {
      order: 2;
    }

    @media (--desktop-widths) {
      padding-right: 18.75%;
    }
  }
}

.form__label {
  @mixin font 700, 17px, 18px;
  display: block;
  margin-bottom: 15px;

  @media (--tablet-widths) {
    display: block;
  }

  @media (--desktop-widths) {
    &_color {
      width: 33%;
    }
  }
}

.form__input {
  @mixin font 700, 17px, 18px;
}

.form__btn {
  @media (--tablet-widths) {
    order: 1;

    margin-left: 6.5%;
  }

  @media (--desktop-widths) {
    margin-left: 18.75%;
  }
}
