.logo {
  &_page-header {
    width: 86px;
    height: 35px;

    flex-grow: 1;
    margin-right: -20px;

    text-align: center;
  }

  &_page-footer {
    display: none;

    @media (--tablet-widths) {
      display: block;
      flex-basis: 185px;
    }
  }

  &_nojs {
    margin-right: 9.375%;
  }

  @media (--tablet-widths) {
    margin-right: 0;
    text-align: left;
  }
}

.logo img {
  width: 86px;
  height: 35px;
}
