.menu {
  &_nojs {
    width: 100%;
  }
}

.menu__btn {
   position: relative;

   display: block;
   width: 20px;
   height: 20px;
   margin: auto;
   margin-right: 0;

   font-size: 0;

   &_is-closed::after {
     content: "";

     position: absolute;
     top: 0;
     left: 0;

     width: 20px;
     height: 2px;
     margin: 3px 0;

     background-color: #221f1f;
     box-shadow: 0 6px 0 0 #221f1f,
                 0 12px 0 0 #221f1f;
   }

   &_is-opened::after {
     content: "";

     position: absolute;
     top: 0;
     left: 0;

     width: 20px;
     height: 20px;

     background-image: url("../img/icon-menu-close.svg");
     background-size: 20px 20px;
     background-position: center;
     background-repeat: no-repeat;
   }

   &_nojs {
     display: none;
   }

   @media (--tablet-widths) {
     display: none;
   }
}

.menu__list {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;

  list-style: none;

  &_is-closed {
    display: none;

    @media (--tablet-widths) {
      display: flex;
      justify-content: space-between;
      height: 130px;
    }

    @media (--desktop-widths) {
      height: 135px;
    }
  }

  &_is-opened {
    display: block;
  }

  &_nojs {
    position: static;
    display: block;
  }

  @media (--mobile-widths-only) {
    background-color: $default-bg-color;
  }

  @media (--tablet-widths) {
    @mixin container;

    top: 0;
  }
}

.menu__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;

  @media (--mobile-widths-only) {
    @mixin container;

    border-top: 1px solid #ececec;
  }

  @media (--tablet-widths) {
    &:nth-of-type(1) {

    }

    &:nth-of-type(2) {
    }

    &:nth-of-type(3) {
      justify-content: flex-end;
      margin-bottom: 73px;
      height: 90px;
      flex-grow: 0;

      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }

    &:nth-of-type(4) {
      justify-content: flex-end;
      margin-bottom: 73px;
      height: 90px;
      flex-grow: 0;
    }
  }

  @media (--desktop-widths) {
    &:nth-of-type(1) {
      margin-bottom: 73px;
      height: 90px;
      border-right: 1px solid #ececec;
    }

    &:nth-of-type(2) {
      flex-grow: 9;
      padding-left: 3.3%;
      height: 90px;
      margin-bottom: 73px;
    }
  }
}

.menu__item:nth-of-type(1) .menu__link {
  @media (--tablet-widths) {
    font-size: 15px;
  }

  @media (--desktop-widths) {
    margin: auto;
    margin-left: 0;

    font-size: 17px;
  }
}

.menu__item:nth-of-type(2) .menu__link {
  @media (--tablet-widths) {
    font-size: 15px;
  }

  @media (--desktop-widths) {
    margin: auto;
    margin-left: 0;

    font-size: 17px;
  }
}

.menu__item:nth-of-type(3) .menu__link {
  @media (--tablet-widths) {
    margin: auto;
    text-align: center;
  }
}

.menu__item:nth-of-type(4) .menu__link {
  @media (--tablet-widths) {
    margin: auto;
    margin-right: 0;
    margin-left: 0;
    text-align: right;
  }
}

.menu__link {
  @mixin font 700, 17px, 24px;

  flex-grow: 1;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 23.44%;

  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
  }

  &_search::before {
    background-image: url("../img/icon-search.svg");
  }

  &_cart::before {
    background-image: url("../img/icon-cart.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (--tablet-widths) {
    flex-grow: 0;
    padding: 0;

    &_search {
      box-sizing: border-box;
      width: 82px;
      font-size: 0;

      &::before {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &_cart {
      box-sizing: border-box;
      width: 269px;

      &::before {

      }
    }
  }

  @media (--desktop-widths) {
    &:nth-of-type(4) {
      padding-right: 5px;
    }
  }
}
