.page-header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  height: 80px;
  padding: 0 9.375%;

  background-color: #ffffff;

  @media (--tablet-widths) {
    height: 90px;
    padding: 0 6.5%;
  }

  @media (--desktop-widths) {
    padding: 0 4.17%;
  }
}
