.page-title {
  @mixin container;

  display: flex;
  flex-direction: column;
  position: relative;

  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;

  &_background_gray {
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f1f1f1;
    color: #231f20;

    @media (--tablet-widths) {
      height: 225px;
    }

    @media (--desktop-widths) {
      height: 255px;
      margin-bottom: 130px;
    }
  }

  &_background_picture {
    height: 485px;

    padding-top: 75px;

    background-color: #f9f9f9;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: center -15px;
    background-repeat: no-repeat;

    @media (--tablet-widths) {
      height: 625px;
      background-position: center 100px;

      padding-top: 155px;
    }

    @media (--desktop-widths) {
      padding-top: 160px;
    }
  }
}

.page-title__main-text {
  max-width: 300px;
  margin: 0 auto;
  @mixin font 700, 27px, 30px;

  @media (--tablet-widths) {
    max-width: 610px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (--desktop-widths) {
    font-size: 53px;
    line-height: 57px;
  }
}

.page-title__additional-text {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 9.375%;
  display: none;
  @mixin font 400, 15px, 24px, #444444;

  @media (--tablet-widths) {
    right: 6.5%;
    display: inline;
  }

  @media (--desktop-widths) {
    top: 20px;
    right: 4.17%;
  }
}

.page-title__list {
  position: absolute;
  top: 20px;
  left: 4.17%;
  right: 4.17%;
  z-index: 1;
  padding: 0;
  margin: 0;

  display: none;
  list-style: none;

  text-align: left;

  @media (--desktop-widths) {
    display: block;
  }
}

.page-title__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 8%;
  font-size: 0;
}

.page-title__link {
  text-decoration: none;
  @mixin font 700, 15px, 24px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
