.page-title {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 0 30px;
  margin: 0;

  @mixin font 700, 27px, 30px;

  &_background_gray {
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f1f1f1;
    color: #231f20;
  }

  &_background_picture {
    height: 285px;

    padding-top: 75px;

    background-color: #fbfbfb;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: center -15px;
    background-repeat: no-repeat;
  }
}

.page-title__additional-text {
  position: absolute;
  top: 16px;
  right: 30px;
  display: none;
  @mixin font 400, 15px, 24px, #444444;

  @media (--tablet-widths) {
    display: inline;
  }
}
