.products {
  @mixin container;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  @media (--tablet-widths) {
    padding-top: 78px;
  }

  @media (--desktop-widths) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.product {
  margin-bottom: 30px;

  @media (--tablet-widths) {
    position: relative;

    display: flex;
    box-sizing: border-box;
    width: 100%;

    margin-bottom: 53px;
  }

  @media (--desktop-widths) {
    flex-direction: column;
    width: 32%;
    padding-right: 0;
  }
}

.product:hover .product__info {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.product:active .product__info {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.product__picture {
  font-size: 0;
  text-align: center;

  @media (--tablet-widths) {
    width: 50%;
    text-align: right;
  }

  @media (--desktop-widths) {
    width: 100%;
    text-align: center;
  }
}

.product__picture img {
  @media (--tablet-widths) {
    min-width: 335px;
    min-height: 335px;
  }
}

.product__info {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ececec;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;

  @media (--tablet-widths) {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 25px;
    padding-left: 26px;
  }

  @media (--desktop-widths) {
    width: 100%;
    flex-grow: 1;
  }
}

.product__link {
  text-decoration: none;

  @media (--tablet-widths) {
    margin-bottom: 5px;
  }
}

.product__title {
  @mixin font 700, 17px, 24px;
  margin: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (--tablet-widths) {
    font-size: 20px;
  }
}

.product__parameters {
  @mixin font 400, 13px, 30px, #444444;
  margin: 0;
  padding-bottom: 20px;

  @media (--tablet-widths) {
    font-size: 15px;
  }
}

.product__price {
  @mixin font 700, 15px, 24px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ececec;

  @media (--tablet-widths) {
    margin-top: auto;
    padding-top: 23px;
    padding-bottom: 26px;
    padding-left: 5px;

    font-size: 17px;
  }

  @media (--desktop-widths) {
    font-size: 20px;
  }
}

.product__btn {
  position: absolute;
  bottom: 31px;
  right: 31px;

  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-image: url("../img/icon-cart.svg");

  font-size: 0;
}
