.reviews {
  @media (--tablet-widths) {
    position: relative;
  }

  @media (--desktop-widths) {
    padding-top: 89px;
  }
}

.reviews__title {
  margin-bottom: 30px;

  @media (--tablet-widths) {
    margin-bottom: 50px;
  }

  @media (--desktop-widths) {
    margin-bottom: 48px;
  }
}

.reviews__post {
  @media (--tablet-widths) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (--desktop-widths) {
    padding-left: 4px;
  }
}

.reviews__text {
  margin-bottom: 30px;

  @media (--tablet-widths) {
    margin-bottom: 50px;
  }

  @media (--desktop-widths) {
    width: 90%;

    font-size: 17px;
  }
}

.reviews__author-info {
  margin-bottom: 30px;

  @media (--tablet-widths) {
    flex-grow: 1;
  }
}

.reviews__author-name {
  @mixin font 700, 17px, 24px;
  margin: 0;
}

.reviews__author-nickname {
  @mixin font 400, 18px, 30px, #444444;
}

.reviews__controls {
  display: flex;
  margin-bottom: 40px;
  border: 1px solid #ececec;

  @media (--tablet-widths) {
    width: 25%;
    border: none;
  }
}

.reviews__btn {
  @media (--tablet-widths) {
    position: absolute;
    top: 0;
    right: 0;

    width: 175px;
  }
}

.reviews__arrow {
  box-sizing: border-box;
  width: 50%;
  height: 50px;

  font-size: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 30px;
  background-image: url("../img/icon-left-arrow.svg");

  &_previous {
    border-right: 1px solid #ececec;

    @media (--tablet-widths) {
      border-right: none;
    }
  }

  &_next {
    transform: rotate(180deg);
  }
}
