.social {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 30px;
  margin: 0;

  list-style: none;

  @media (--tablet-widths) {
    margin: auto;
    padding: 0;
    padding-left: 26px;
  }
}

.social__item {
  width: 20px;
  height: 20px;
  padding: 30px 20px;
  margin-right: 40px;

  background-repeat: no-repeat;
  background-position: center;

  &_instagram {
    background-image: url("../img/icon-insta.svg");
  }

  &_facebook {
    background-image: url("../img/icon-fb.svg");
  }

  &_twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &:last-of-type {
    margin-right: 0;
  }

  @media (--tablet-widths) {
    height: 30px;
    padding: 0;
  }
}

.social__link {
  display: block;
  height: 30px;

  font-size: 0;
}
